---
import Tags from "@/components/Tags.astro";
import TitlePage from "@/components/TitlePage.astro";
import Common from "@/layouts/Common.astro";
import { getTags } from "@/lib/content";
const tags = await getTags();
---

<Common title="Tags">
  <TitlePage title="Tags" />
  <div class="flex flex-wrap justify-center gap-4">
    <Tags tags={tags} />
  </div>
</Common>
