---
import Posts from "@/components/Posts.astro";
import Common from "@/layouts/Common.astro";
import { getPostsByTag, getTags } from "@/lib/content";

const { tag } = Astro.props;

const posts = await getPostsByTag(tag);

export async function getStaticPaths() {
  const tags = await getTags();

  return tags.map((tag) => ({
    params: { tag: tag.value },
    props: { tag: tag },
  }));
}
---

<Common title={tag.label}>
  <h1 class="title">
    {tag.label}
  </h1>
  <Posts posts={posts} />
</Common>
