---
import Posts from "@/components/Posts.astro";
import Common from "@/layouts/Common.astro";
import { getPosts } from "@/lib/content";
import websiteConfig from "@/config/website.config.json";
import postsGridConfig from "@/config/postsGrid.config.json";
import { t } from "@/utils";

const posts = await getPosts(postsGridConfig.postsPerPage);
const postsPlusOne = await getPosts(postsGridConfig.postsPerPage + 1);
const { length } = postsPlusOne;
---

<Common title={t("title.home")}>
  <h1 class="title">
    {websiteConfig.title}
  </h1>
  <Posts {posts} />
  {
    length > postsGridConfig.postsPerPage && (
      <div class="mx-auto">
        <a class="button-state block px-4 py-2 text-lg" href="/page-2">
          {t("pagination.show-more")}
        </a>
      </div>
    )
  }
</Common>
