---
import ListCategories from "@/components/ListCategories.astro";
import Posts from "@/components/Posts.astro";
import Common from "@/layouts/Common.astro";
import { getPosts } from "@/lib/content";
import { siteConfig } from "@/site-config";

const posts = await getPosts(6);
---

<Common title="Home">
  <h1 class="title">
    {siteConfig.title}
  </h1>
  <ListCategories />
  <Posts posts={posts} />
</Common>
