---
import Pagination from "@/components/Pagination.astro";
import Posts from "@/components/Posts.astro";
import Common from "@/layouts/Common.astro";
import { getPosts } from "@/lib/content";
import websiteConfig from "@/config/website.config.json";
import postsGridConfig from "@/config/postsGrid.config.json";
import { t } from "@/utils";

const { page } = Astro.props;
const posts = page.data;

export async function getStaticPaths({ paginate }: any) {
  const posts = await getPosts();

  return posts.flatMap(() => {
    return paginate(posts, {
      pageSize: postsGridConfig.postsPerPage,
    });
  });
}
---

<Common title={`${t("title.posts")}${t("title.page")} ${page.currentPage}`}>
  <h1 class="title">
    {websiteConfig.title}
  </h1>
  <Posts {posts} />
  {posts.length + 1 > postsGridConfig.postsPerPage && <Pagination {page} />}
</Common>
