---
import { t } from "@/utils";
const { categories } = Astro.props;
---

<!--
  TODO: Create a collection for Categories
  and rebuild this view using images from it.
  Make it look better this way.
  Consider doing the same for Tags.
-->
<div class="title-dialog">{t("title.categories")}</div>
<div class="flex flex-wrap items-center justify-center gap-6">
  {
    categories.map(({ label, value }: { label: string; value: string }) => {
      return (
        <a
          class="shadow-default button-state block bg-gradient-to-r from-pink-500 to-violet-500 px-8 py-6 text-2xl font-bold text-slate-50"
          href={`/${value}/page-1`}
        >
          {label}
        </a>
      );
    })
  }
</div>
