---
import Icon from "@/components/Icon.astro";
import Search from "@/components/Search.astro";
import Tags from "@/components/Tags.astro";
import { getTags } from "@/lib/content";
import { t } from "@/utils";
import ThemeToggle from "./ThemeToggle.astro";

const tags = await getTags();
---

<header
  class="flex items-center justify-between gap-6 pt-4 lg:pt-8"
  transition:persist
>
  <nav class="flex items-center gap-6">
    <a
      class="ghost-icon block hover:text-pink-500 focus:text-pink-500"
      href="/"
      aria-label={t("header.home")}
    >
      <Icon name="home" />
    </a>
    <div class="flex">
      <button
        id="tagsDialogTrigger"
        class="ghost-icon hover:text-pink-500 focus:text-pink-500"
        aria-label={t("header.tags")}
      >
        <Icon name="tags" />
      </button>
      <dialog id="tagsDialog" class="dialog" autofocus>
        <div class="flex min-h-[25vh] items-center justify-center">
          <Tags tags={tags} />
        </div>
      </dialog>
    </div>
  </nav>
  <div class="flex items-center gap-6">
    <Search />
    <ThemeToggle />
  </div>
</header>

<script>
  import { useDialog } from "@/utils";

  useDialog("tagsDialog", "tagsDialogTrigger");
</script>
