---
import Icon from "@/components/Icon.astro";
import Search from "@/components/Search.astro";
import { t } from "@/utils";
import ThemeToggle from "./ThemeToggle.astro";
---

<header
  class="flex items-center justify-between gap-6 pt-4 lg:pt-8"
  transition:persist
>
  <nav class="flex items-center gap-6">
    <a class="ghost-icon" href="/" aria-label={t("header.home")}>
      <Icon name="home" />
    </a>
    <a class="ghost-icon" href="/tags" aria-label={t("header.tags")}>
      <Icon name="tags" />
    </a>
  </nav>
  <div class="flex items-center gap-6">
    <Search />
    <ThemeToggle />
  </div>
</header>
