---
import Categories from "@/components/Categories.astro";
import Icon from "@/components/Icon.astro";
import Search from "@/components/Search.astro";
import Tags from "@/components/Tags.astro";
import { getCategories, getTags } from "@/lib/content";
import { t } from "@/utils";
import ThemeToggle from "./ThemeToggle.astro";

const categories = await getCategories();
const tags = await getTags();
---

<header
  class="flex items-center justify-between gap-6 pt-4 lg:pt-8"
  transition:persist
>
  <nav class="flex items-center gap-6">
    <a
      class="ghost-icon block hover:text-pink-500 focus:text-pink-500"
      href="/"
      aria-label={t("header.home")}
    >
      <Icon name="home" />
    </a>
    <div class="flex">
      <button
        id="categoriesDialogTrigger"
        class="ghost-icon hover:text-pink-500 focus:text-pink-500"
        aria-label={t("header.categories")}
      >
        <Icon name="category" />
      </button>
      <dialog id="categoriesDialog" class="dialog" autofocus>
        <div class="dialog-bg"></div>
        <Categories {categories} />
      </dialog>
    </div>
    <div class="flex">
      <button
        id="tagsDialogTrigger"
        class="ghost-icon hover:text-pink-500 focus:text-pink-500"
        aria-label={t("header.tags")}
      >
        <Icon name="tags" />
      </button>
      <dialog id="tagsDialog" class="dialog" autofocus>
        <div class="dialog-bg"></div>
        <Tags {tags} />
      </dialog>
    </div>
  </nav>
  <div class="flex items-center gap-6">
    <Search />
    <ThemeToggle />
  </div>
</header>

<script>
  import { useDialog } from "@/utils";

  useDialog("tagsDialog", "tagsDialogTrigger");
  useDialog("categoriesDialog", "categoriesDialogTrigger");
</script>
