---
import Icon from "@/components/Icon.astro";
import Search from "@/components/Search.astro";
import ToggleTheme from "./ToggleTheme.astro";
---

<header
  class="flex items-center justify-between font-semibold"
  transition:persist
>
  <a class="text-lg" href="/">Home</a>
  <div class="flex items-center gap-6">
    <nav>
      <a href="/tags">
        <Icon name="tags" class="w-8 h-8" />
      </a>
    </nav>
    <Search />
    <ToggleTheme />
  </div>
</header>
