---
import Icon from "@/components/Icon.astro";
import "@pagefind/default-ui/css/ui.css";
---

<div class="flex">
  <button id="searchDialogTrigger">
    <Icon name="search" />
  </button>
  <dialog
    id="searchDialog"
    class="w-2/3 rounded-lg border-0 bg-slate-50 p-4 backdrop:bg-slate-950/75 dark:bg-slate-950"
  >
    {
      import.meta.env.DEV ? (
        <div class="mx-auto text-center dark:text-slate-50">
          <p>
            Search is only available in production builds. <br />
            Run `pnpm preview` to test it out locally.
          </p>
        </div>
      ) : (
        <div id="search" />
      )
    }
  </dialog>
</div>

<script>
  const dialog = document.getElementById("searchDialog") as HTMLDialogElement;
  const dialogTrigger = document.getElementById("searchDialogTrigger");

  const showModal = (e: Event) => {
    e.preventDefault();
    dialog.showModal();
  };

  dialog.addEventListener("click", (e) => {
    if (e.target === dialog) {
      dialog.close();
    }
  });

  document.addEventListener("astro:before-swap", () => {
    dialog.close();
  });

  dialogTrigger?.addEventListener("click", showModal);

  window.addEventListener("keydown", (e) => {
    if (e.key === "/" && !dialog.open) {
      showModal(e);
    }
  });

  const initPagefind = async () => {
    // @ts-ignore
    const { PagefindUI } = await import("@pagefind/default-ui");

    new PagefindUI({
      element: "#search",
      showImages: false,
    });
  };

  window.addEventListener("DOMContentLoaded", () => {
    if (import.meta.env.DEV) return;

    initPagefind();
  });
</script>

<style is:global>
  html.dark {
    --pagefind-ui-scale: 1;
    --pagefind-ui-primary: #f8fafc;
    --pagefind-ui-text: #f8fafc;
    --pagefind-ui-background: #4c1d95;
    --pagefind-ui-border: #4c1d95;
    --pagefind-ui-tag: #4c1d95;
    --pagefind-ui-font: "Manrope", sans-serif;
  }
</style>
