---
import Icon from "@/components/Icon.astro";
import "@pagefind/default-ui/css/ui.css";
import { t } from "@/utils";
---

<div class="flex">
  <button
    id="searchDialogTrigger"
    class="ghost-icon hover:text-pink-500 focus:text-pink-500"
    aria-label={t("search.trigger")}
  >
    <Icon name="search" />
  </button>
  <dialog id="searchDialog" class="dialog">
    <div class="dialog-bg"></div>
    {
      import.meta.env.DEV ? (
        <div class="mx-auto text-center dark:text-slate-50">
          <p>
            Search is only available in production builds. <br />
            Run `pnpm preview` to test it out locally.
          </p>
        </div>
      ) : (
        <div id="search" />
      )
    }
  </dialog>
</div>

<script>
  import { useDialog } from "@/utils";

  const dialog = useDialog("searchDialog", "searchDialogTrigger");

  window.addEventListener("keydown", (e) => {
    if (e.key === "/" && !dialog.open) {
      e.preventDefault();
      dialog.showModal();
    }
  });

  const initPagefind = async () => {
    if (import.meta.env.DEV) return;

    // @ts-ignore
    const { PagefindUI } = await import("@pagefind/default-ui");

    new PagefindUI({
      element: "#search",
      showImages: false,
    });
  };

  initPagefind();
</script>

<style is:global>
  :root {
    --pagefind-ui-scale: 1;
    --pagefind-ui-font: "Manrope", sans-serif;

    --pagefind-ui-primary: #020617;
    --pagefind-ui-text: #020617;
    --pagefind-ui-tag: #020617;
    --pagefind-ui-background: #f8fafc;
    --pagefind-ui-border: #02061715;
  }

  html.dark {
    --pagefind-ui-primary: #f8fafc;
    --pagefind-ui-text: #f8fafc;
    --pagefind-ui-tag: #f8fafc;
    --pagefind-ui-background: #020617;
    --pagefind-ui-border: #f8fafc15;
  }
</style>
