---
import Icon from "@/components/Icon.astro";
// import "@pagefind/default-ui/css/ui.css";
---

<button>
  <Icon name="search" />
  <!-- <div id="search"></div> -->
</button>

<!-- <script>
  window.addEventListener("DOMContentLoaded", () => {
    if (import.meta.env.DEV) return;

    const onIdle = window.requestIdleCallback || ((cb) => setTimeout(cb, 1));

    onIdle(async () => {
      // @ts-ignore
      const { PagefindUI } = await import("@pagefind/default-ui");

      new PagefindUI({
        element: "#search",
        showImages: false,
      });
    });
  });
</script> -->

<!-- <style is:global>
  .dark {
    --pagefind-ui-primary: #eeeeee;
    --pagefind-ui-text: #eeeeee;
    --pagefind-ui-background: #152028;
    --pagefind-ui-border: #152028;
    --pagefind-ui-tag: #152028;
  }
</style> -->
