---
import { TAGS } from "@/data/sets";

export interface Props {
  tag: string;
}

const { tag } = Astro.props;
const label = TAGS.find((t) => t.value === tag)?.label;
---

<a href={`/tags/${tag}`} aria-label={tag}>
  <div
    class="w-fit rounded-full bg-indigo-600 px-2 py-1 text-sm font-semibold text-white shadow-lg shadow-black/30 dark:bg-indigo-900 dark:text-white md:px-5 md:py-2"
  >
    {label}
  </div>
</a>
