---
import { TAGS } from "@/data/sets";

export interface Props {
  tag: string;
}

const { tag } = Astro.props;
const label = TAGS.find((t) => t.value === tag)?.label;
---

<a href={`/tags/${tag}`} aria-label={tag}>
  <div
    class="bg-indigo-600 font-semibold text-white dark:bg-indigo-900 dark:text-white shadow-lg shadow-black/30 text-sm w-fit px-2 py-1 md:px-5 md:py-2 rounded-full"
  >
    {label}
  </div>
</a>
