---
import { TAGS } from "@/data/sets";
const { tags } = Astro.props;
---

<div class="flex flex-wrap items-center justify-center gap-4">
  {
    tags.map((tag: { label: string; value: string } | string) => {
      const label =
        typeof tag === "string"
          ? TAGS.find((t) => t.value === tag)?.label
          : tag.label;
      const value = typeof tag === "string" ? tag : tag.value;

      return (
        <a
          class="shadow-default gradient-state block rounded-lg bg-gradient-to-r from-pink-500 to-violet-500 px-4 py-2 text-sm font-bold text-slate-50 before:bg-gradient-to-t before:from-violet-900 before:to-violet-500 hover:before:opacity-100 focus:before:opacity-100"
          href={`/${value}`}
        >
          {label}
        </a>
      );
    })
  }
</div>
