---
import { TAGS } from "@/data/sets";
import { t } from "@/utils";
const { tags } = Astro.props;
---

<div class="title-dialog">{t("title.tags")}</div>
<div class="flex flex-wrap items-center justify-center gap-4">
  {
    tags.map((tag: { label: string; value: string } | string) => {
      const label =
        typeof tag === "string"
          ? TAGS.find((t) => t.value === tag)?.label
          : tag.label;
      const value = typeof tag === "string" ? tag : tag.value;

      return (
        <a
          class="shadow-default button-state block bg-gradient-to-r from-pink-500 to-violet-500 px-4 py-2 font-bold text-slate-50"
          href={`/${value}/page-1`}
        >
          {label}
        </a>
      );
    })
  }
</div>
