---
import { getTags } from "@/lib/content";
import { t } from "@/utils";

const { isDialog, values } = Astro.props;
const tags = await getTags();
const filteredTags = values
  ? tags.filter((tag) => values.includes(tag.id.replace(/\/index$/, "")))
  : tags;
---

{isDialog && <div class="title-dialog">{t("title.tags")}</div>}
<div class="flex flex-wrap items-center justify-center gap-4">
  {
    filteredTags.map(({ id, data }) => {
      return (
        <a
          class="shadow-default button-state block bg-gradient-to-r from-pink-500 to-violet-500 px-4 py-2 font-bold text-slate-50"
          href={`/${id.replace(/\/index$/, "")}/page-1`}
        >
          {data.title}
        </a>
      );
    })
  }
</div>
