---
import Title from "./Title.astro";
type Props = {
  title: string;
};

const { title } = Astro.props;
---

<div class="title flex items-center justify-start gap-2">
  <Title>{title}</Title>
</div>
