---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import ProviderAnimations from "@/components/ProviderAnimations.astro";
import ProviderTheme from "@/components/ProviderTheme.astro";
const { title, description, image, articleDate } = Astro.props;
---

<html lang="en" class="scroll-smooth antialiased">
  <head>
    <BaseHead
      title={title}
      description={description}
      ogImage={image}
      articleDate={articleDate}
    />
    <ProviderTheme />
    <ProviderAnimations />
  </head>
  <body
    class="bg-slate-50 text-slate-950 dark:bg-slate-950 dark:text-slate-50 font-body"
  >
    <div
      class="px-4 pt-2 lg:px-8 lg:pt-4 mx-auto min-h-screen flex flex-col gap-8 lg:gap-12 container overflow-hidden"
    >
      <Header />
      <main class="grid gap-8 lg:gap-12">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
